# ignore notebook checkpoints
.ipynb_checkpoints/

# ignore data
ny_taxi_postgres_data/
*.csv

# ignore terraform
terraform/

# ignore google
.google/

# ignore airflwo docker-compose
airflow/docker-compose.*
airflow/scripts/
